* {
    margin: 0;
    padding: 0;
   font-family: 'Times New Roman', Times, serif;
   color: black;
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 70px;
    
}

header h1 {
    float: left;
    padding: 15px 24px;
}


header h1 a:hover {
    color: rgb(19, 126, 220);
    transition: .6s;
    
}
header ul {
   
    float: right;
}

header ul li{
    padding: 24px;
    display: inline-block;
}


header ul li a:hover {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(8, 90, 161);
    transition: .6s;
    

}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.mobile-menu {
    float: right;
    display:none;
    padding: 17px;
   
    
}

.mobile-menu:hover {
     cursor: pointer;
}
#check {
    display: none;
}
.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: -280px;
    width: 280px;
    background-color: rgba(15, 120, 201, 0.9);
    transition: .5s;
}


.sidebar ul li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:whitesmoke
}


.sidebar ul li {
    padding: 24px;
    transition: .5s;
    transition-property: background-color;
}

.sidebar ul li  :hover {
    background-color: rgb(221, 218, 13);
}

#check:checked ~  .sidebar {
    left: 0px;
}

.banner {
    background-color:rgb(51, 225, 225) ;
    padding: 130px;
}

section {
    padding:50px 0;
}

.banner img {
    width: 150px;
    border-radius: 20px;
    box-shadow: 0 3px 5px rgb(188, 188, 200);
   
}

.banner h2,
.banner p, 
.banner span {
    text-align: justify;
    color: whitesmoke;
}

.banner p {
    font-size: 18px;
}

.banner-left {
    padding-left: 24px;
}

section h3,
section h2 {
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;
}

.about h3,
section p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#skills .bar {
    height: 30px;
    background-color: white;
    margin: 5px 0 20px;
}
.nilai {
    height: 30px;
    width: 75%;
    background-color: rgb(3, 205, 246);
    display: inline-block;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
section h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.css {
    color: white;
    height: 30px;
    width: 80%;
    background-color: rgb(3, 205, 246);
    display: inline-block;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.js {
    color: white;
    height: 30px;
    width: 70%;
    background-color: rgb(3, 205, 246);
    display: inline-block;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section h4 {
    text-align:center;
    width:5px;
    box-sizing: border-box;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background-color: #ddd;
    padding: 30px;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}
@media (max-width:768px) {
    .mobile-menu {
        display: block;
    }
    header ul {
        display: none;
    }
}
